@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Wheel.css */
.wheel {
  /* border: 5px solid #fdf48a; */
  /* box-shadow: 0px 0px 13px 7px #fdf48a; */
  position: relative;
  height: 15rem;
  width: 15rem;
  border-radius: 100%;
}

.play-animation {
  animation: rotate 2s linear infinite;
}

.wheel-image {
  position: absolute;
  top: 0%;
  left: 50.3%;
  width: 100%;
  transform: translate(-50%);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
